*
{
	font-family:arial;
	text-align:center;
}
body
{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
background-image: radial-gradient(circle at 50% -20.71%, #d1c74b 0, #d9be40 8.33%, #e0b436 16.67%, #e7a82d 25%, #ec9b25 33.33%, #f08c21 41.67%, #f37b1f 50%, #f56922 58.33%, #f75528 66.67%, #f93f31 75%, #fa203b 83.33%, #f90047 91.67%, #f80054 100%);
}
.ub1
{
text-align:left;
font-weight: bold;
color:white;
margin-bottom:0.5em;
margin-top:0.5em;
}
.caja1
{
	background-color: rgba(0, 0, 0, .5);
	width:20em;
    height: auto;
    position: relative;
    margin: auto;
    padding: 2em;
	border-radius: 1em;
	color:black;


}
input, select
{
	width: 100%;
    padding: 0.5em;
	font-size:1em;
	border-radius:5px;
	border:1px solid black;
	color:black;
	text-align:left;
	
}

input::placeholder 
{
  color: #1E265D;
  font-weight: bold;
   opacity: 0.5; 
}

input[type=submit],input[type=reset]
{
margin-top: 1.5em;
width:48%;
text-align:center;
background-color: #1958AD;
color:white;

}
input[type=checkbox]
{
margin-left:0;
width:10%;

}

.formtlo
{
	font-size:2em;
	font-weight: bold;
	padding-bottom:0.8em;
	color:white;
}